/*VARIABLES*/
:root {
  --font-min: 0.8em;
  --font-small: 0.875em;
  --font-normal: 1em;
  --font-medium: 1.2em;
  --font-large: 1.4em;
  --font-max: 2em;

  --color-default: #555555;
  --color-green: #36BA9B;
  --color-blue: #39AED9;
  --color-yellow: #F5B946;
  --color-red: #D94352;
  --color-fsphp: #1D2025;

  --weight-light: 300;
  --weight-normal: 400;
  --weight-strong: 600;
  --weight-bold: 700;
  --weight-black: 900;

  --hover-color-green: #61DDBC;
  --hover-color-blue: #66D4F1;
  --hover-color-yellow: #FCD277;
  --hover-color-red: #F76C82;
  --hover-duration: 0.3s;

  --gradient-green: linear-gradient(to right, #42E695 0%, #3BB2B8 50%, #42E695 100%);
  --gradient-blue: linear-gradient(to right, #17EAD9 0%, #6078EA 50%, #17EAD9 100%);
  --gradient-red: linear-gradient(to right, #622744 0%, #C53364 50%, #622744 100%);
  --gradient-yellow: linear-gradient(to right, #FCE38A 0%, #F38181 50%, #FCE38A 100%);

  --radius-normal: 5px;
  --radius-medium: 10px;
  --radius-large: 20px;
  --radius-round: 50%;

  --index-back: -1;
  --index-fold: 2;
  --index-menu: 3;
  --index-modal: 1050;
}

/*DEFAULT LOAD*/
.ajax_load {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: calc(var(--index-modal) * 2);
}

.ajax_load_box {
  margin: auto;
  text-align: center;
  color: #ffffff;
  font-weight: var(--weight-bold);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.ajax_load_box_circle {
  border: 16px solid #e3e3e3;
  border-top: 16px solid var(--hover-color-green);
  border-radius: 50%;
  margin: auto;
  width: 80px;
  height: 80px;

  -webkit-animation: spin 1.2s linear infinite;
  -o-animation: spin 1.2s linear infinite;
  animation: spin 1.2s linear infinite;
}

.ajax_load_box_title {
  margin-top: 15px;
  font-weight: var(--weight-strong);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*EFFECTS*/
.transition {
  transition-duration: var(--hover-duration);
}

.radius {
  -webkit-border-radius: var(--radius-normal);
  -moz-border-radius: var(--radius-normal);
  border-radius: var(--radius-normal);
}

.rounded {
  -webkit-border-radius: var(--radius-round);
  -moz-border-radius: var(--radius-round);
  border-radius: var(--radius-round);
}

.box-shadow {
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}

/*ALIGN*/
.al-center {
  text-align: center;
}

.al-left {
  text-align: left;
}

.al-right {
  text-align: right;
}

/*DISPLAY*/
.ds-block {
  display: block;
}

.ds-flex {
  display: flex;
}

.ds-inblock {
  display: inline-block;
}

.ds-inline {
  display: inline;
}

.ds-none {
  display: none;
}

/*GRADIENTS*/
.gradient {
  background-size: 200% auto;
  transition-duration: 0.5s;
}

.gradient-green {
  background-image: var(--gradient-green);
}

.gradient-blue {
  background-image: var(--gradient-blue);
}

.gradient-yellow {
  background-image: var(--gradient-yellow);
}

.gradient-red {
  background-image: var(--gradient-red);
}

.gradient-hover:hover {
  background-position: right center;
}

fieldset {
  border: 1.5px solid #ced4da;
  border-radius: .25rem;
  padding: 1rem;
  min-width: min-content;
}

.cursor-pointer {
  cursor: pointer;
}